////////////////////////////////////////////////
// Global SASS
////////////////////////////////////////////////

// ------ System ------ //

@import "compass"
@import "grid/csswizardry-grids"
@import "generic/variables"
@import "generic/mixins"

// ------ Sections ------ //

@import "base/layout"
@import "base/headings"
@import "base/branding"
@import "base/nav"
@import "base/header"
@import "base/content"
@import "base/sidebar"
@import "base/footer"

// ------ Objects ------ //

@import "objects/projects"

////////////////////////////////
// Global Styles
////////////////////////////////

*
	box-sizing: border-box
	-moz-box-sizing: border-box

html
	font-size: 100%

body
	font-family: $font-open-sans
	font-weight: $font-normal
	color: $font-grey
	font-size: .625em
	background: $white

::selection
	background: $light-green

::-moz-selection
	background: $light-green

h1,
h2,
h3,
h4,
h5,
h6
	font-family: $font-open-sans
	font-weight: $font-bolder
	font-style: normal
	line-height: 1.2125
	color: $dark-grey
	margin-top: .2em
	margin-bottom: .5em

h1
	font-size: 3.4em
h2
	font-size: 2.7em
h3
	font-size: 2.2em
h4
	font-size: 1.8em
h5
	font-size: 1.8em
h6
	font-size: 1.6em

p
	font-size: 1.4em
	line-height: 2
	margin: 1.4em 0

a
	color: $light-green
	text-decoration: none
	+transition(all .2s ease-in-out)
	cursor: pointer
	&:hover
		color: $light-blue

////////////////////////////////////////////////
// End Global SASS
////////////////////////////////////////////////