////////////////////////////////////////////////
// Global SASS
////////////////////////////////////////////////

// ------ System ------ //

@import "grid/csswizardry-grids"
@import "settings/variables"
@import "settings/settings"

// ------ Sections ------ //
@import "sections/header"
@import "sections/content"
@import "sections/footer"

// ------ Modules ------ //

////////////////////////////////
// Global Styles
////////////////////////////////

.grid__item
	margin-left: -4px

.site--title
	font-size: 7.2em
	text-transform: lowercase
	color: #555

.site--wrap
	max-width: 1024px
	margin: 0 auto
	padding: 0 18px

.nav
	list-style-type: none

.nav--ul
	margin: 0
	padding: 0

.nav--li
	display: inline-block
	position: relative