////////////////////////////////////////////////
// Object: Project SASS
////////////////////////////////////////////////

////////////////////////////////
// HTML Markup
////////////////////////////////

//<article class="project">
//	<a href="http://www.longislandskydiving.com" target="_blank">
//		<header>
//			<h1 class="project__header">Long Island Skydiving</h1>
//		</header>
//		<p>Project lead, Front-End Development, Drupal Development, interior page designs.</p>
//	</a>
//</article>

.project
	border-bottom: 1px solid $light-silver
	padding: 1em 0 3em 0
	position: relative
	display: block
	&:after
		content: ''
		font: $font-normal 13em/1 $font-entypo
		color: $light-silver
		position: absolute
		display: block
		right: 0
		bottom: 0
	a
		p
			margin: 0
			padding-right: 4em
			color: $font-grey
	&:hover,
	&:focus,
	&:active
		h1
			color: $light-blue
			+transition(all .2s ease-in-out)
		&:after
			color: $light-green
			+transition(all .2s ease-in-out)

.project__header
	font: $font-bold 2.2em/2 $font-open-sans
	text-transform: lowercase
	color: $light-green
	+breakpoint(palm)
		font-size: 1.8em